<div class="owner-submit-wizard" ng-switch="ownerSubCtrl.step" layout="column" layout-align="center">
    <div class="wizard-step" ng-switch-when="0" layout-align="center">
        <div layout="row" layout-align="center">
            <h1 class="md-display-4">Who are you?</h1>
        </div>
        <div layout="row" layout-align="center">
            <md-input-container class="md-block" flex-xl>
                <label>ID</label>
                <input name="id" ng-model="ownerSubCtrl.id"
                        ng-pattern="/^[0-9]{9}$/"/>
            </md-input-container>
            <md-input-container class="md-block" flex-xl>
                <label>Name</label>
                <input  ng-model="ownerSubCtrl.name">
            </md-input-container>
        </div>
    </div>
    
    <div class="wizard-step" ng-switch-when="1" layout-align="center">
        <div layout="row" layout-align="center">
            <h1 class="md-display-4">Where are you from?</h1>
        </div>
        <div layout="row" layout-align="center">
            <md-input-container class="md-block" flex-xl>
                <label>Address</label>
                <input ng-model="ownerSubCtrl.address">
            </md-input-container>
            <md-input-container class="md-block" flex-xl>
                <label>City</label>
                <input  ng-model="ownerSubCtrl.city" type="text">
            </md-input-container>
        </div>
    </div>
    
    <div class="wizard-step" ng-switch-when="2" layout-align="center">
        <div layout="row" layout-align="center">
            <h1 class="md-display-4" ng-hide="!ownerSubCtrl.profilePicture">Show us what you look like!</h1>
        </div>
        <div layout="row" layout-align="center">
                <lf-ng-md-file-input lf-files='ownerSubCtrl.profilePicture'> </lf-ng-md-file-input>
        </div>

    </div>
    
    <div class="wizard-step" ng-switch-when="3" layout-align="center">
        <div layout="row" layout-align="center">
            <h1 class="md-display-4">How can we contact you?</h1>
        </div>
        <div layout="row" layout-align="center">
            <md-input-container class="md-block" flex-xl>
                <label>Phone Number</label>
                <input name="phone" ng-model="ownerSubCtrl.phone" ng-pattern="/^[0-9]{3}-[0-9]{7}$/"/>
            </md-input-container>
            <md-input-container class="md-block" flex-xl>
                <label>Email</label>
                <input name="email" ng-model="ownerSubCtrl.email"
                       
                       ng-pattern="/(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*)@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])/"/>
            </md-input-container>
        </div>
    </div>
    
    <div class="wizard-step" ng-switch-when="4" layout-align="center">
        <div layout="row" layout-align="center">
            <h1 class="md-display-4">How will you login?</h1>
        </div>
        <div layout="row" layout-align="center">
            <md-input-container class="md-block" flex-xl>
                <label>Password</label>
                <input  ng-model="ownerSubCtrl.password" type="password">
            </md-input-container>
        </div>
    </div>
    
    <div layout="row" layout-align="center">
        <md-button ng-disabled="!ownerSubCtrl.step>0" ng-click="ownerSubCtrl.step = ownerSubCtrl.step-1">Previous</md-button>
        <md-button ng-hide="ownerSubCtrl.step>3" ng-click="ownerSubCtrl.step = ownerSubCtrl.step+1">Next</md-button>
        <md-button ng-hide="ownerSubCtrl.step<4" ng-click="ownerSubCtrl.submit()">Submit!</md-button>
    </div>
</div>