<md-content>
    <md-content md-theme="docs-dark" layout-gt-sm="column" layout-padding>
        <h1>Filtering:</h1>
        <div md-theme="docs-dark" layout-gt-sm="row">
            <div>
                <md-input-container>
                    <label>Start Date: </label>
                    <md-datepicker ng-model="roomCtrl.startDate" ng-change="roomCtrl.filter()"></md-datepicker>
                </md-input-container>
                <md-input-container>
                    <label>End Date: </label>
                    <md-datepicker ng-model="roomCtrl.endDate" ng-change="roomCtrl.filter()"></md-datepicker>
                </md-input-container>
            </div>
            <div>
                <md-input-container>
                    <md-checkbox ng-model="roomCtrl.filterKosher"
                                 style="display: inline-block"
                                 ng-change="roomCtrl.kosher=false;roomCtrl.filter()">
                        Filter kosher?
                    </md-checkbox>
                    <span>
                        Not Kosher
                        <md-switch
                                ng-model="roomCtrl.kosher"
                                style="display: inline-block"
                                ng-disabled="!(roomCtrl.filterKosher)"
                                ng-change="roomCtrl.filter()">
                            Kosher
                        </md-switch>
                    </span>
                </md-input-container>
            </div>
            <div>
                <md-input-container>
                    <label>Gender</label>
                    <md-select ng-model="roomCtrl.gender" md-on-close="roomCtrl.filter()">
                        <md-option md-option-empty>None</md-option>
                        <md-option ng-value="'Male'">Male</md-option>
                        <md-option ng-value="'Female'">Female</md-option>
                        <md-option ng-value="'Trans'">Trans</md-option>
                        <md-option ng-value="'Other'">Other</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div>
                <md-input-container>
                    <label>Languages</label>
                    <md-select ng-model="roomCtrl.languages" md-on-close="roomCtrl.filter()" multiple>
                        <md-option ng-value="'Hebrew'">Hebrew</md-option>
                        <md-option ng-value="'English'">English</md-option>
                        <md-option ng-value="'Arabic'">Arabic</md-option>
                        <md-option ng-value="'Russian'">Russian</md-option>
                    </md-select>
                </md-input-container>
            </div>
        </div>
    </md-content>
    <md-content md-theme="docs-dark" layout-gt-sm="column" layout-padding>
        <h1>Results:</h1>
        <listing ng-repeat="room in roomCtrl.rooms" listing-data="room" approve="roomCtrl.approve"></listing>
    </md-content>
</md-content>