<div layout="row" class="room-filters" layout-align="left center">
    <h3 class="md-title">Filters</h3>
    
    <md-input-container class="filter">
        <label>Start Date: </label>
        <md-datepicker ng-model="roomCtrl.startDate" ng-change="roomCtrl.filter()"></md-datepicker>
    </md-input-container>
    <md-input-container class="filter">
        <label>End Date: </label>
        <md-datepicker ng-model="roomCtrl.endDate" ng-change="roomCtrl.filter()"></md-datepicker>
    </md-input-container>
    
    <md-radio-group class="filter" ng-model="roomCtrl.filterKosherView" ng-change="roomCtrl.kosherFilter()">
        <label >Kosher Food:</label>
        <md-radio-button value="false" class="md-primary">Don't Care</md-radio-button>
        <md-radio-button value="yes">Kosher</md-radio-button>
        <md-radio-button value="no">Goyfood</md-radio-button>
    </md-radio-group>
    
    
    <md-input-container class="filter">
        <label>Gender</label>
        <md-select ng-model="roomCtrl.gender" md-on-close="roomCtrl.filter()">
            <md-option md-option-empty>None</md-option>
            <md-option ng-value="'Male'">Male</md-option>
            <md-option ng-value="'Female'">Female</md-option>
            <md-option ng-value="'Trans'">Trans</md-option>
            <md-option ng-value="'Other'">Other</md-option>
        </md-select>
    </md-input-container>
    
    <md-input-container class="filter">
        <label>Languages</label>
        <md-select ng-model="roomCtrl.languages" md-on-close="roomCtrl.filter()" multiple>
            <md-option ng-value="'Hebrew'">Hebrew</md-option>
            <md-option ng-value="'English'">English</md-option>
            <md-option ng-value="'French'">French</md-option>
            <md-option ng-value="'Sfat Habet'">Sfat Habet</md-option>
        </md-select>
    </md-input-container>
</div>

<md-content>
    <md-content md-theme="docs-dark" layout-gt-sm="column" layout-padding>
        <h1>Results:</h1>
        <listing ng-repeat="room in roomCtrl.rooms"
                 listing-data="room"
                 approve-listing="roomCtrl.approveListing"
                 book-listing="roomCtrl.bookListing"></listing>
    </md-content>
</md-content>