/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

img.owner-face{
   height: 100px;
    width: 100px;
    border-radius: 50px;
}

.carebnb-menu-icon{
    height: 2em;
    width: 2em;
    color: #FF5A5F;
    cursor: pointer;
}

.carebnb-menu-icon svg{
    transform: rotate(180deg);
}

.carebnb-menu-icon span{
    font-family: "Arial";
}

.carebnb-menu-icon span:hover{
}
img.profile-picture{
    height: 50px;
    width: 50px;
}