/* app css stylesheet */

.menu {
  list-style: none;
    margin-top: 0;
  border-bottom: 0.1em solid #FF5A5F;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
    padding-top: 0.5em;
    margin-bottom: 0;
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  padding-right: 0.3em;
}

img.owner-face{
   height: 100px;
    width: 100px;
    border-radius: 50px;
}

.carebnb-menu-icon{
    height: 2em;
    width: 2em;
    color: #FF5A5F;
    cursor: pointer;
    min-width: 8em;
}

.carebnb-menu-icon svg{
    transform: rotate(180deg);
}

.carebnb-menu-icon span{
    font-family: "Arial";
}

.carebnb-menu-icon span:hover{
}
img.profile-picture{
    height: 50px;
    width: 50px;
}
img.owner-face{
   height: 100px;
    width: 100px;
    border-radius: 50px;
}

.carebnb-menu-icon{
    height: 2em;
    width: 2em;
    color: #FF5A5F;
    cursor: pointer;
}

.carebnb-menu-icon svg{
    transform: rotate(180deg);
}

.carebnb-menu-icon span{
    font-family: "Arial";
}

.carebnb-menu-icon span:hover{
}
img.profile-picture{
    height: 50px;
    width: 50px;
}

html,
body{
    background-color: white;
}

.menu{
    background-color: white;
}

.card-img{
    width: 100%;
    position: relative;
}

.card-img img{
    width:inherit;
    display: block;
}

.card-img md-switch{
    margin: 0px;
    position: absolute;
    top: 3px;
    right: 6px;
}

.ng-scope.layout-align-center-stretch.layout-row{
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-around;
}

.owner-card{
    width: 300px;
    box-shadow: none;
    height: 400px;
}

.owner-card md-card-title{
        padding: 0;
    margin-top: 8px;
}

.owner-card md-card-title-text span{
    padding: 0;
}

.wizard-step{
    height: 21em;
    background-color: #FF5A5F;
}

.wizard{
    background-color: #FF5A5F;
        padding-bottom: 3em;
}

.md-input-container.wizard-input input{
    color: white;
}

.wizard-step div h1{
    color: white;
}

.wizard button,
.wizard input,
.wizard label,
.wizard-step.ng-scope.layout-align-center-stretch > div > md-input-container > label,
.wizard-step.ng-scope.layout-align-center-stretch > div > md-input-container{
    color: white;
    border-color: white;
}

.md-button.md-default-theme.md-primary.md-raised, .md-button.md-primary.md-raised, .md-button.md-default-theme.md-primary.md-fab, .md-button.md-primary.md-fab{
    background-color: #ff9c9f;
    color: white;
}

.md-button.md-default-theme.md-primary.md-raised, .md-button.md-primary.md-raised, .md-button.md-default-theme.md-primary.md-fab, .md-button.md-primary.md-fab{
    background-color: #ff9c9f;
    color: white;
}

.md-button.md-default-theme.md-primary.md-raised:not([disabled]):hover, .md-button.md-primary.md-raised:not([disabled]):hover, .md-button.md-default-theme.md-primary.md-fab:not([disabled]):hover, .md-button.md-primary.md-fab:not([disabled]):hover{
    background-color: #ff787c;
}

.wizard-step.ng-scope.layout-align-center-stretch > div:nth-child(2) > md-input-container:nth-child(1){
    padding-right: 1.5em;
}

.wizard md-option > div.md-container > div,
.wizard md-option.md-checkbox-enabled > div.md-container > div{
    color: black;
    background-color: black;
}

.wizard-step.ng-scope.layout-align-center-stretch > div > md-input-container > md-checkbox > div.md-container.md-ink-ripple > div.md-icon{
    background-color: black;
}