<div layout="row">
    <jk-carousel
            data="listingData.pictures"
            item-template-url="'components/carousel/item-template.html'"
            max-width="800"
            max-height="500">
    </jk-carousel>
</div>
<div layout="row">
    <h4>{{listingData.owner.name}}</h2>
</div>
<div layout="row">
    <h5>{{listingData.address</h2>
</div>

<h2>Room by <a href="#!/owner-approve?id={{listingData.owner.id}}">{{listingData.owner.contact.name}}</a></h2>

<img ng-if="listingData.pictures" src={{listingData.pictures[0]}} />

<h3>Room requirements:</h3>
<ul>
    <li ng-repeat="(label, value) in listingData.requirements">{{label}}: {{value | requirements}}</li>
</ul>

<h3>Is Room Approved? {{listingData.approved | approved}}</h3>
<md-button ng-if="!(listingData.approved)" ng-click="approveListing(listingData.id)">Approve this listing</md-button>
<md-button ng-if="listingData.approved" ng-click="bookListing(listingData.id, listingData.owner.id)">Book this
    listing</md-button>
<h3 ng-if="listingData.address">Room's Address: {{listingData.address}}</h3>