<h2>Room by <a href="#!/owner-approve?id={{listingData.owner.id}}">{{listingData.owner.contact.name}}</a></h2>

<img ng-if="listingData.pictures" src={{listingData.pictures[0]}} />

<h3>Room requirements:</h3>
<ul>
    <li ng-repeat="(label, value) in listingData.requirements">{{label}}: {{value | requirements}}</li>
</ul>

<h3>Is Room Approved? {{listingData.approved | approved}}</h3>
<md-button ng-if="!(listingData.approved)" ng-click="approveListing(listingData.id)">Approve this listing</md-button>
<h3 ng-if="listingData.address">Room's Address: {{listingData.address}}</h3>