<md-content>
    <form >
        <div layout="row">
            <md-input-container flex=50>
                <label>Prefered Genders</label>
                <md-select multiple ng-model="rscSubCtrl.genderSelected" placeholder="Select Gender">
                    <md-option ng-repeat="gender in rscSubCtrl.genderOptions" value="{{gender}}">{{gender}}</md-option>
                </md-select>
            </md-input-container>
        </div>

        <div layout="row">
            <md-input-container flex=50>
                <label>Languages</label>
                <md-select multiple ng-model="rscSubCtrl.languageSelected" placeholder="Select Languages">
                    <md-option ng-repeat="l in rscSubCtrl.languageOptions" value="{{l}}">{{l}}</md-option>
                </md-select>
            </md-input-container>
        </div>

        <md-switch ng-model="rscSubCtrl.kosher" aria-label="Kosher">
            Kosher
        </md-switch>

        <md-input-container class="md-block">
            <label>Address</label>
            <input ng-model="rscSubCtrl.address" md-maxlength="150" rows="3" max-rows="3"
                      md-select-on-focus/>
        </md-input-container>

        <md-input-container class="md-block">
            <label>Prefrences</label>
            <textarea ng-model="rscSubCtrl.preferences" md-maxlength="150" rows="3" max-rows="3"
                      md-select-on-focus></textarea>
        </md-input-container>

        <label>Room Pictures</label>
        <input type="file" ng-model="rscSubCtrl.pictures" multiple base-sixty-four-input/>

        <md-button ng-click="rscSubCtrl.submit()" type="submit" class="md-raised md-primary">Submit</md-button>
    </form>
</md-content>